<div>

<h1> Cookies </h1>

<form id="Cookies Form">
    <label>Nombre</label>
    <imput name="name">
        <br/>
        <label>Corre Electronico</label>
        <imput name= "email">
        <imput type= "submit">
</form>
<button onclick="getCookie()">Obtener Cookie</button>

</div>

<script src="js/cookie.js"></script>
"